<tr id=<%= "cliente_#{cliente.id}" %>>

  <td><%= cliente.nombre %></td>
  <td><%= cliente.apellido %></td>
  <td><%= cliente.documento %></td>
  <td><%= cliente.direccion %></td>
  <td><%= cliente.barrio.nombre %></td>
  <td><%= cliente.telefono %></td>
  <td><%= cliente.celular %></td>
  <td><%= cliente.email %></td>
  <td>
    <%= link_to 'Mostrar', cliente, :remote => true, :class => 'btn btn-mini' %>
    <%= link_to 'Editar', edit_cliente_path(cliente), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', cliente, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>