<%= simple_form_for(@cliente, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  <div>
    <%= f.input :nombre, :label => "Nombre",  :required => true  %>
    <%= f.input :apellido, :label => "Apellido",  :required => true  %>
    <%= f.input :documento, :label =>  "Documento", :required => true %>
    <%= f.input :direccion, :label => "Direccion",  :required => true %>
    <%= f.label :barrio %>
      <div  id="camp">
      <%= f.collection_select :barrio_id, Barrio.all, :id, :nombre, :order => 'nombre' %>
      </div>
     <br>
    <%= f.input :telefono, :label => "Telefono",  :required => true %>
    <%= f.input :celular, :label => "Celular",  :required => true %>
    <%= f.input :email, :label => "Email",  :required => true %>
      <div class="form-actions">
        <%= f.submit "guardar", :class => 'btn btn-primary' %>
        <%= link_to 'Atras', clientes_path, :class => 'btn btn-small' %>
      </div>
  </div>
<% end %>


 
