<%= javascript_include_tag "municipioselect.js" %>
<%= simple_form_for(@cliente, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  <div>
    <%= f.input :nombre, :label => "Nombre",  :required => true  %>
    <%= f.input :apellido, :label => "Apellido",  :required => true  %>
    <%= f.input :documento, :label =>  "Documento", :required => true %>
    <%= f.input :direccion, :label => "Direccion",  :required => true %>
    <div class ="control-group">
      <%= f.label :municipio_id %> 
      <div class="controls" >
        <%= select_tag "municipio_id", options_from_collection_for_select(Municipio.all, "id", "nombre"), :prompt => "select un municipio" %>
      </div>
    </div>
    <br><br>
    <div class ="control-group">
      
      <div class="controls"  >
        <div id="barriosDiv">
         <%= f.label :barrio %>
          <%= render :partial => 'barrios', :object => @barrios%>
        </div>
      </div>
    </div>
    <%= f.input :telefono, :label => "Telefono",  :required => true %>
    <%= f.input :celular, :label => "Celular",  :required => true %>
    <%= f.input :email, :label => "Email",  :required => true %>
      <div class="form-actions">
        <%= f.submit "guardar", :class => 'btn btn-primary' %>

      </div>
  </div>
<% end %>


 
