<tr id=<%= "evaluacion_#{evaluacion.id}" %>>
 
  <td><%=evaluacion.empleado.nombre%></td>
	<td><%=evaluacion.servicio.solicitud_servicio.ofertado%></td>
	<td><%=evaluacion.tipo_calificacion.nombre%></td>
	<td><%=evaluacion.observacion%></td>
	  <td>
    <%= link_to 'Mostrar', evaluacion, :remote => true, :class => 'btn btn-mini' %>
    <%= link_to 'Editar', edit_evaluacion_path(evaluacion), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', evaluacion, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>