
<%= simple_form_for(@evaluacion, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  
   <%= f.label :empleado %>
   <%= f.collection_select :empleado_id, Empleado.all, :id,:nombre, :order => 'nombre', :required => true %><br><br>


 <%= f.label :servicio %>
   <%= f.collection_select :servicio_id, Servicio.all, :id,:empleado, :order => 'nombre', :required => true %><br><br>

  <%= f.label :tipo_calificacion %>
   <%= f.collection_select :tipo_calificacion_id, TipoCalificacion.all, :id,:nombre, :order => 'nombre', :required => true %><br><br>
 
  <%= f.label :observacion %>
  <%= f.text_area(:observacion, :rows => 5 )%>
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', evaluaciones_path, :class => 'btn btn-small' %>
  </div>
<% end %>