
<%- model_class = Evaluacion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='evaluacion'>
  <p><%= @evaluacion.empleado %></p>
  <p><%= @evaluacion.servicio %></p>
  <p><%= @evaluacion.tipo_calificacion %></p>
  <p><%= @evaluacion.observacion %></p>
</div>