
<%= simple_form_for(@municipio, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  

  <%= f.input :nombre, :label => "Nombre",  :required => true %>

  
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', municipios_path, :class => 'btn btn-small' %>
  </div>
<% end %>