<%= simple_form_for([@solicitud_servicio,@servicio], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>


  <%= f.error_notification %>
  
  <%= f.input :fecha , :label => "Fecha",  :required => true%>
  <%= f.input :hora, :label => "Hora",  :required => true %>
  


<%= f.label :empleado %>
  <%= f.collection_select :empleado_id, Empleado.all, :id, :nombre %><br><br>

<%= f.label :cliente %>
<%= f.collection_select :cliente_id ,  Cliente.all, :id, :nombre%><br><br>

 <%= f.label :estado %>
 <%= f.collection_select :estado_id ,  Estado.all, :id, :nombre%>

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', solicitud_servicio_servicios_path(@solicitud_servicio), :class => 'btn btn-small' %>
  </div>
<% end %>

