<%= simple_form_for(@servicio, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  
  <%= f.input :fecha , :label => "Fecha",  :required => true%>
  <%= f.input :hora, :label => "Hora",  :required => true %>
  
<%= f.label :solicitud_servicio %>
<%= f.collection_select :solicitud_servicio_id, SolicitudServicio.all, :id, :ofertado_id, :order => 'id' %><br><br>
 
<%= f.label :empleado %>
  <%= f.collection_select :empleado_id, Empleado.all, :id, :nombre %><br><br>

<%= f.label :cliente %>
<%= f.collection_select :cliente_id ,  Cliente.all, :id, :nombre%>
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', servicios_path, :class => 'btn btn-small' %>
  </div>
<% end %>

