<tr id=<%= "servicio_#{servicio.id}" %>>
  
  
  <td><%= servicio.fecha %></td>
  <td><%= servicio.hora %></td>
  <td><%= servicio.empleado.nombre%> <%= servicio.empleado.apellido%></td>
  <td><%= servicio.solicitud_servicio.ofertado_id%></td>
  <td><%= servicio.cliente.nombre%> <%= servicio.cliente.apellido%></td>
  <td><%= servicio.estado.nombre %></td>
  <td>
  	<%= link_to "Ver",solicitud_servicio_servicio_path(@solicitud_servicio,servicio), :remote => true, :class => "btn btn-info" %>
    <%= link_to "Editar",edit_solicitud_servicio_servicio_path(@solicitud_servicio,servicio), :remote => true, :class => "btn btn-danger" %>
    <%= link_to 'Eliminar', solicitud_servicio_servicio_path(@solicitud_servicio,servicio),
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-dang'  %>

    <%= if servicio.estado.nombre == "reprogramado" then #link que me lleve el formulario de reprogramacion
       link_to 'Reprogramar', new_reprogramacion_path, :remote => true,
      :class => 'btn btn-dang' 
    end %>

	</td>
  
</tr>
