
<%- model_class = SolicitudServicio -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='solicitudservicio'>
  <p><%= @solicitud_servicio.direccion %></p>
  <p><%= @solicitud_servicio.barrio_id %></p>
  <p><%= @solicitud_servicio.telefono %></p>
  <p><%= @solicitud_servicio.ofertado_id %></p>
  <p><%= @solicitud_servicio.observaciones %></p>
</div>

