<%= simple_form_for(@reprogramacion, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  
  <%= f.input :hora , :label => "Hora",  :required => true%>
  <%= f.input :fecha, :label => "Fecha",  :required => true %>

   <%= f.label :solicitud_servicio %>
   <%= f.collection_select :solicitud_servicio_id, SolicitudServicio.all, :id,:direccion, :order => 'direccion', :required => true %><br><b>

<%= f.label :observacion %><br><!--cambiar la el tamaño del cuadro de observacion-->
  <%= f.text_area(:observacion, :rows => 5 )%>
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', reprogramaciones_path, :class => 'btn btn-small' %>
  </div>
<% end %>

