

<%= simple_form_for(@tipo_calificacion, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
 

  <%= f.input :nombre, :label => "Nombre",  :required => true %>
  
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', tipos_calificaciones_path, :class => 'btn btn-small' %>
  </div>
<% end %>
