<nav class="navbar navbar-fixed-top" role="navigation">

	<ul class="nav">

	  <li> <%= link_to 'Inicio', root_path, :class => 'brand ' %><!--codigo para la icono del incio--></li>
	  <% if current_user %>
		<li>
		<%= link_to('Municipios', municipios_path ) %>
		</li>
		<li>
		<%= link_to('Empleados', empleados_path) %>
		</li>
		<li>
		<%= link_to('Calificación de Servicios',calificaciones_servicios_path) %>
		</li>
		<li>
		<%= link_to('Clientes',clientes_path) %>
		</li>
		<li>
		<%= link_to(' Ordenes de Servicio', ordenes_path) %>
		</li>
		<li>
		<%= link_to(' Tipo de calificación', tipos_calificaciones_path) %>
		</li>
		<li>
		       <%= link_to('Servicios Ofertados',ofertados_path) %>
		    </li>
		<li>
		<%= link_to('Estados ', estados_path) %>
		</li>
		<li>
		<%= link_to('Reprogramación ', reprogramaciones_path) %>
		</li>
		<li>
	        <%= link_to "Salir", logout_path %>
		 </li>
		<% else %>
		    <li>
		    	<%= link_to "Entrar", login_path %>
		    </li>
		    <li>
		    	<%= link_to "Registrarse", signup_path %>
		    </li>
		<% end %>
	</ul>
</nav>
