<ul class="nav">
	
	<li>
	<%= link_to('Municipios', municipios_path ) %>
	</li>
	<li>
	<%= link_to('Empleados', empleados_path) %>
	</li>
	<li>
	<%= link_to('Calificaciones_servicios',calificaciones_servicios_path) %>
	</li>
	<li>
	<%= link_to('Servicios Ofertados',ofertados_path) %>
	</li>
	<li>
	<%= link_to('Clientes',clientes_path) %>
	</li>
	<li>
	<%= link_to(' Tipos_calificaciones', tipos_calificaciones_path) %>
	</li>
	
	<li>
	<%= link_to('Estados ', estados_path) %>
	</li>
	<li>
	<%= link_to('Reprogramaciones ', reprogramaciones_path) %>
	</li>
	
</ul>
