<ul class="nav">
	
	<li>
	<%= link_to('Municipios', municipios_path ) %>
	</li>
	<li>
	<%= link_to('Empleados', empleados_path) %>
	</li>
	<li>
	<%= link_to('Calificaciones_servicios',calificaciones_servicios_path) %>
	</li>
	<li>
	<%= link_to('Servicios Ofertados',ofertados_path) %>
	</li>
	<li>
	<%= link_to('Clientes',clientes_path) %>
	</li>
	<li>
	<%= link_to(' tipos_calificaciones', tipos_calificaciones_path) %>
	</li>
	<li>
	<%= link_to('solicitudes_servicios', solicitudes_servicios_path) %>
	</li>
	<li>
	<%= link_to('Orden Servicio', servicios_path) %>
	</li>
	<li>
	<%= link_to('evaluaciones ', evaluaciones_path) %>
	</li>
	<li>
	<%= link_to('reprogramaciones ', reprogramaciones_path) %>
	</li>
	
</ul>
